.bookingForm {
 background: #ffffff;
 color: #111;
 width: 100%;
 max-width: 720px;
 padding: 40px;
 border-radius: 18px;
 box-shadow: 0 25px 60px rgba(0, 0, 0, 0.4);
}

.bookingForm h2 {
 font-size: 2rem;
 color: #131313bc;
 font-weight: 600;
 margin-bottom: 8px;
}

.bookingForm p {
 font-size: 0.95rem;
 color: #555;
 margin-bottom: 30px;
}

.formGrid {
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 20px;
}

.formGroup {
 display: flex;
 flex-direction: column;
}

.fullWidth {
 grid-column: span 2;
}

label {
 font-size: 0.75rem;
 font-weight: 600;
 margin-bottom: 6px;
 color: #333;
 letter-spacing: 0.05em;
 text-transform: uppercase;
}

.formGroup input,
select,
textarea {
 padding: 14px;
 font-size: 0.95rem;
 border-radius: 10px;
 border: 1px solid #ccc;
 outline: none;
 transition: border 0.25s ease, box-shadow 0.25s ease;
}

.formGroup input:focus,
select:focus,
textarea:focus {
 border-color: #000;
}

select.error {
 border: 2px solid rgba(255, 4, 4, 0.781);
}

input.error {
 border: 2px solid rgba(255, 4, 4, 0.781);
}

span.errorMessage {
 color: rgba(255, 4, 4, 0.781);
 padding-left: 0.4rem;
 margin-top: 0.2rem;
 font-size: 0.8rem;
}

select.error:focus,
.error:focus {
 outline: none;
 border-color: rgba(255, 4, 4, 0.781);
 box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
}

textarea {
 resize: none;
 height: 6.25rem;
}

.submitBtn {
 margin-top: 30px;
 width: 100%;
 padding: 16px;
 font-size: 1rem;
 font-weight: 600;
 color: #fff;
 background: linear-gradient(135deg, #111, #333);
 border: none;
 border-radius: 50px;
 cursor: pointer;
 box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
 transition: transform 0.25s ease, box-shadow 0.25s ease;
}



.submitBtn:hover {
 transform: translateY(-2px);
 box-shadow: 0 18px 45px rgba(0, 0, 0, 0.6);
}

@media (max-width: 640px) {
 .formGrid {
  grid-template-columns: 1fr;
 }

 .fullWidth {
  grid-column: span 1;
 }
}

select option:disabled {
 color: #aaa;
}