.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginLink{
    text-decoration: underline;
    color: #000000ba;
}

.card {
    width: 100%;
    max-width: 400px;
    padding: 40px 30px;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 20px 50px #0000003d;
    text-align: center;
}

.title {
    margin: 0;
    font-size: 28px;
    color: #000000ba;
}

.subtitle {
    margin: 10px 0 30px;
    font-size: 14px;
    color: #555;
}

.inputGroup {
    position: relative;
    margin-bottom: 25px;
}

.inputGroup input {
    width: 100%;
    padding: 12px 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    background: transparent;
    color: #000000ba;
}

.inputGroup label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s ease;
}

.inputGroup input:focus+label,
.inputGroup input:valid+label {
    top: -8px;
    font-size: 12px;
    color: #000000b6;
}

.inputGroup input:focus {
    outline: none;
    border-bottom-color: #000000ba;
}

.button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #000000db;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background: #343333;
}

.footer {
    margin-top: 20px;
}

.footer a {
    font-size: 14px;
    color: #000000ba;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}