.container {
  width: min(90%, 500px);
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.top {
  display: grid;
  height: 100vh;
  place-items: center;
}

.title {
  margin-bottom: 3rem;
  font-size: 22px;
  text-align: center;
  color: #000000c4;
}

.notes {
  margin-top: 15px;
  font-size: 14px;
}

.notes span {
  display: block;
  margin-bottom: 5px;
  color: #777;
}

.notes p {
  background: #f6f6f6;
  padding: 10px;
  border-radius: 8px;
  color: #000;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 20px;
}

.priceRow strong {
  font-weight: 700;
}

.payButton {
  width: 100%;
  padding: 14px;
  background: #000000e1;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.payButton:hover:not(:disabled) {
  color: rgb(72, 240, 142);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.spinnerContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}
