.summaryItem {
 display: flex;
 justify-content: space-between;
 margin-bottom: 14px;
 font-size: 14px;
}

.summaryItem span {
 color: #776e6ece;
 /* color: #777; */
}

.summaryItem strong {
 color: #000000cb;
 font-weight: 600;
}