.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hero video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(255, 255, 255, 0.26),
    rgba(255, 255, 255, 0.137)
  );
  z-index: 1;
}

/* Content */
.heroContent {
  position: relative;
  z-index: 2;
  max-width: 700px;
  padding: 40px;
  background: rgba(141, 138, 138, 0.5);
  /* background: rgba(255, 255, 255, 0.244); */
  /* backdrop-filter: blur(15px); */
  border-radius: 5px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.15rem;
  margin-bottom: 35px;
  line-height: 1.6;
}

.ctaButton {
  display: inline-block;
  padding: 16px 42px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(135deg, #111, #333);
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.ctaButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.6);
}

.linkContainer {
  z-index: 10;
  position: fixed;
  top: 1.5rem;
  right: 2rem;
}
.link {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-size: 0.7rem;
  padding: 0.6rem 1rem;
  font-weight: bold;
  border-radius: 0.4rem;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
  }
}
