.table {
 display: flex;
 flex-flow: wrap column;
 justify-content: center;
 align-items: center;
 width: min(90%, 62.5rem);
 padding: 40px;
 font-family: "Inter", sans-serif;
}

.container {
 background: #000;
 min-height: 100vh;
 display: flex;
 justify-content: center;
}

.spinnerContainer {
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.card {
 background: #111;
 width: 100%;
 max-width: 900px;
 border-radius: 16px;
 padding: 30px;
 border: 1px solid #222;
 box-shadow: 0 10px 40px rgba(255, 255, 255, 0.05);
 color: #fff;
}

.title {
 font-size: 24px;
 font-weight: 600;
 margin-bottom: 30px;
 border-bottom: 1px solid #222;
 padding-bottom: 10px;
}

.headerRow {
 display: grid;
 grid-template-columns: 2fr 2fr 2fr 1fr;
 padding: 15px 10px;
 border-bottom: 1px solid #333;
 font-size: 13px;
 text-transform: uppercase;
 color: #aaa;
 letter-spacing: 1px;
}

.row {
 all: unset;
 display: grid;
 grid-template-columns: 2fr 2fr 2fr 1fr;
 padding: 18px 10px;
 border-bottom: 1px solid #222;
 transition: all 0.5s ease;
 cursor: pointer;
}

.row:hover {
 background: #000;
}

.active {
 background: #0ee04da6;
}

.row span {
 font-size: 15px;
 font-weight: 500;
}

@media (max-width: 768px) {
 .headerRow {
  display: none;
 }

 .row {
  grid-template-columns: 1fr;
  gap: 6px;
  padding: 20px;
 }

 .row span {
  font-size: 14px;
 }
}